<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test computed truyền param trong Vue</title>
</head>
<body>
<div id="app">
    <input type="text" v-model="firstName"/>
    <input type="text" v-model="lastName"/>
    <p>{{ greeting('Oh my god, đôi giày, đây rồi: ', 'thêm param nữa nè ')}}</p>
</div>

<script src="https://unpkg.com/vue"></script>
<script>

    new Vue({
        el: '#app',
        data() {
            return {
                firstName: '',
                lastName: ''
            }
        },
        computed: {
            greeting() {
                return (msg1, msg2) => {
                    return `${msg1} ${msg2} ${this.firstName} ${this.lastName}`
                }
            }
        }
    })
</script>

<style>
    .floatdiv {
        float: left;
        width: 40%;
        margin: 5px;
        border: 1px solid black;
    }
</style>
</body>

</html>