<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.2.0/papaparse.min.js"></script>
<style>
    .row {
        margin-left: 0!important;
        margin-right: 0!important;
        margin-top: 5px;
    }
</style>

<div class="row">
    <h3 class="text-danger text-center">
        Convert CSV -> JSON
    </h3>

    <div class="mp-padding-10">
        <div ng-if="csv.err.length > 0" class="bg bg-info mp-padding-10">
            <h4 class="text-danger">{{csv.err}}</h4>
        </div>
        <h3 class="text-danger">Input</h3>
        <form class="form-inline">
            <div class="row">
                <div class="form-group">
                    <label for="files">Chọn file:  </label>
                    <input type="file" id="files" class="form-control" accept=".csv" required="">
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="skip_line">Bỏ qua cột (cách nhau dấu ,): </label>
                    <input type="text" id="skip_line" ng-model="csv.rawSkipColumn" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="group_by">Nhóm lại bởi cột đầu tiên: </label>
                    <input type="checkbox" id="group_by" ng-model="csv.groupBy" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="convertArray">Chuyển item không nhóm về array: </label>
                    <input type="checkbox" id="convertArray" ng-model="csv.convertArray" class="form-control">
                </div>
            </div>

            <div class="form-group" style="margin-top: 20px; margin-left: 20px">
                <button type="submit" class="btn btn-primary" ng-click="csv.convert()">
                    <span class="fa fa-rocket"></span>
                    Convert
                </button>

                <button class="btn btn-primary" ng-click="csv.copy()">
                    <span class="fa fa-copy"></span>
                    Copy output
                </button>
            </div>
        </form>

        <h3 class="text-danger">Output</h3>
        <textarea id='csv_output' ng-model="csv.output" class="form-control" rows="8"></textarea>
    </div>
</div>
