<style>
    .row {
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-top: 5px;
    }
</style>

<div class="row">
    <h3 class="text-danger text-center">
        Convert curl facebook cực mạnh
    </h3>

    <h3 class="text-danger">Input</h3>
    <textarea id='curl_input' ng-model="fbcurl.input" ng-change="fbcurl.convert()" class="form-control" rows="8"></textarea>

    <div class="mp-padding-10">
        <div ng-if="fbcurl.err.length > 0" class="bg bg-info mp-padding-10">
            <h4 class="text-danger">{{fbcurl.err}}</h4>
        </div>

        <form class="form-inline">
            <div class="form-group" style="margin-top: 20px; margin-left: 20px">
                <button type="submit" class="btn btn-primary" ng-click="fbcurl.convert()">
                    <span class="fa fa-rocket"></span>
                    Convert
                </button>
                <button class="btn btn-primary" ng-click="fbcurl.copy()">
                    <span class="fa fa-copy"></span>
                    Copy output
                </button>
            </div>
        </form>

        <h3 class="text-danger">Output</h3>
        <textarea id='curl_output' ng-model="fbcurl.output" class="form-control" rows="8"></textarea>
    </div>
</div>
