<div class="row">
    <h3 class="text-danger text-center">
        Sbase tools
    </h3>
    <div class="bg bg-info mp-padding-10">
        <h3 class="text-danger">Các feature support</h3>

        <blockquote>
            <p>- Product single</p>
            <p>- Bootstrap (coming soon)...</p>
        </blockquote>
    </div>

    <hr/>
    <div class="mp-padding-10">
        <h3 class="text-danger">Product single</h3>
        <form method="POST" role="form">
            <div class="form-group">
                <label for="ps_url">Input url</label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <span aria-hidden="true" class="glyphicon glyphicon-console"></span>
                    </div>
                    <input ng-model="security.input_str" id="ps_url" type="text"
                           placeholder="Nhập vào url cần debug" required="required" autofocus="autofocus"
                           class="form-control">
                    <span class="input-group-btn">
                <button ng-click="sbase.debugProductSingle()" class="btn btn-primary">
                    <span aria-hidden="true" class="fa fa-cogs"></span>
                    Debug
                </button>
            </span>
                </div>
            </div>
        </form>

        <p><span class="mp-text-bold">- Current step</span>: {{sb.productSingle.currentStep}}</p>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Tiêu chí</th>
                <th>Kết quả</th>
                <th>Hành động</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Môi trường</td>
                <td>{{sb.sbaseData.env}}</td>
                <td></td>
            </tr>
            <tr>
                <td>Bootstrap</td>
                <td>{{sb.sbaseData.bootstrap.err || 'OK'}}</td>
                <td>
                    <button class="btn btn-primary">Open</button>
                    <button class="btn btn-primary">Copy url</button>
                </td>
            </tr>
            <tr>
                <td>Shop id</td>
                <td>{{sb.sbaseData.bootstrap.err || 'OK'}}</td>
                <td>
                    <button class="btn btn-primary">Copy</button>
                </td>
            </tr>
            <tr>
                <td>Product id</td>
                <td>{{sb.productSingle.id}}</td>
                <td>
                    <button class="btn btn-primary">Copy</button>
                </td>
            </tr>
            <tr>
                <td>Cache key single</td>
                <td>{{sb.productSingle.cacheKeySingle}}</td>
                <td>
                    <button class="btn btn-primary">Copy</button>
                </td>
            </tr>
            <tr>
                <td>Cache key map</td>
                <td>{{sb.productSingle.caceKeyMap}}</td>
                <td>
                    <button class="btn btn-primary">Copy</button>
                </td>
            </tr>
            <tr>
                <td>Cache sai?</td>
                <td>{{sb.productSingle.isWrongCache}}</td>
                <td>
                    <button class="btn btn-primary">Copy</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
