<style>
    .row {
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-top: 5px;
    }
</style>

<div class="row">
    <h3 class="text-danger text-center">
        Convert timestamp cực mạnh
    </h3>

    <h3 class="text-danger">Input</h3>
    <textarea id='ts_input' ng-model="ts.input" ng-change="ts.convert()" class="form-control" rows="8"></textarea>

    <div class="mp-padding-10">
        <div ng-if="ts.err.length > 0" class="bg bg-info mp-padding-10">
            <h4 class="text-danger">{{ts.err}}</h4>
        </div>

        <form class="form-inline">
            <div class="form-group" style="margin-top: 20px; margin-left: 20px">
                <button type="submit" class="btn btn-primary" ng-click="ts.convert()">
                    <span class="fa fa-rocket"></span>
                    Convert
                </button>
            </div>
        </form>

        <div class="checkbox">
            <label>
                <input type="checkbox" value="" ng-change="ts.convert()" ng-model="ts.onlyNotEmpty">
                Chỉ hiện thị dòng có timestamp
            </label>
        </div>

        <h3 class="text-danger">Output</h3>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>STT</th>
                <th>Raw</th>
                <th>Timestamp</th>
                <th>Human</th>
                <th>Human UTC</th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="item in ts.output track by $index">
                <td>{{$index+1}}</td>
                <td> {{item.rawInput}}</td>
                <td>
                    <p ng-repeat="itemj in item.ts">{{itemj}}</p>
                </td>
                <td>
                    <p ng-repeat="itemj in item.humans">{{itemj}}</p>
                </td>
                <td>
                    <p ng-repeat="itemj in item.humanUTCs">{{itemj}}</p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
